recursive-include src/MSA_FET/exts *
recursive-include src/MSA_FET/example_configs *.json

recursive-exclude src/MSA_FET/exts/pretrained *
recursive-exclude src/MSA_FET/exts/OpenFace/model/patch_experts *.dat